{% extends "layout.html" %}

{% block script %}
    <script src="{{ url_for('static', filename='js/teacher_config.js') }}"></script>
{% endblock %}

{% block body %}
<div class="row">
<div class="col-xs-6">
<select class="list-box" id="classes" multiple="multiple">
   <option>text1</option>
   <option>text2</option>
   <option>text3</option>
   <option>text4</option>
   <option>text5</option>
</select>
<input type="text" style="width:100%" id="newclass">
<button type="button" class="col-xs-3 add">Add</button>
<button type="button" class="col-xs-3 remove">Remove</button>
</div>
<div class="col-xs-6">
<select class="list-box" name="sometext" multiple="multiple">
   <option>text1</option>
   <option>text2</option>
   <option>text3</option>
   <option>text4</option>
   <option>text5</option>
</select>
<input type="text" style="width:100%" id="newstudent">
<button type="button" class="col-xs-3 add">Add</button>
<button type="button" class="col-xs-3 remove">Remove</button>
</div>
</div>
{% endblock %}
