@font-face {
    font-family: "RobotoBold";
    src: url("fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "SFUltralight";
    src: url("fonts/SF-UI-Display-Ultralight.otf") format("opentype");
}

@font-face {
    font-family: "RobotoCondensed";
    src: url("fonts/Ubuntu-R.ttf") format("truetype");
}

/*.container {
    display:flex;
    width: auto;
}*/

h4 {
    text-align: center;
    font-size: 60px;
    margin: 40px;
    /*margin-bottom: 30px;*/
    font-family: 'GothamBold';

}

.dropdown-toggle {
    font-size: 25px;
    padding: 10% 20px;
}

.containerLeft {
    width: 50%;
    float: left;
}

.containerRight {
    width: 50%;
    float: right;
}

select {
    width: 20%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    margin-top: 35px;
    color: #fff;
    text-align: center;
}

footer p {
    text-align: center;
    margin: 0;
    font-family: 'SFUltralight';
}

footer p b {
    font-weight: 700;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #2d2e30;
}
