{% extends "layout.html" %}

{% block script %}
<script src="{{ url_for('static', filename='js/teachers.js') }}"></script>
<script src="{{ url_for('static', filename='js/feedback.js') }}"></script>
{% endblock %}

{% block body %}
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#class">Classroom</a></li>
    <li><a data-toggle="tab" href="#feedback">Feedback</a></li>
    <li><a data-toggle="tab" href="#data">Data</a></li>
</ul>

<div class="tab-content">
    <div id="class" class="tab-pane fade in active">
        <div class="row">
            <div id="classroom">
            </div>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody id="time-table">
                </tbody>
            </table>
        </div>
    </div> <!-- /home -->
    <div id="feedback" class="tab-pane">
        <div id="feedback-area">
        </div>
    </div> <!-- /feedback -->
    <div id="data" class="tab-pane">
        Data
    </div> <!-- /data -->
</div>
{% endblock %}
